@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --dark:#2b2d42;
    --light: #adb6db;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow{
    border:1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark{
    color:var(--dark);
}

.inline{
    display: inline-block;
}

.text-light{
    color: var(--light);
}

.text-gradient{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header nav{
    background-color: #06d6a0;
    padding: 1em 0;
    width: 100%;
}

#main-content{
    margin-top: 6em;
    font-family: 'Open Sans', sans-serif;
}

#main-content .container .box-nav>a{
    font-size: 1em;
    padding: 0.5em 1em;
}

#main-content .container form{
    margin: 2em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.table-type-machine td, .table-type-machine th{
    padding: 0.75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table-type-machine td > a.btn{
    padding: 0.3em 1em;
    font-size: 1.1em;
    margin: 0 0.2em;
}

.table-type-machine tr:hover{
    background-color: #06d6a0;
}

.table-type-machine tr:hover td > a{
    box-shadow: none;
    background-color: white;
}

.table-type-machine .thead-dark th{
    color: white;
    background-color: var(--dark);
    border-color: #32383e; 
}

@media only screen and (max-width: 1024px){
    table, thead, tbody, th, td, tr{
        display:block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr{
        border: 1px solid var(--border);
    }

    td{
        border: none;
        border-bottom: 1px solid var(--border);
        position: relative;
    }
}

